.weather-background {
  background-image: url("../img/background.jpg");
  background-color: #cccccc;
}
.weather-txt{
  color:skyblue;
  font-size:22px;
  padding: 5px;
}
.date{
  font-size:18px;
  padding: 5px;
}